@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/AvenirNext_Variable.woff2") format("woff2");
  font-family: "Avenir";
  font-style: normal;
  font-weight: normal;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: black;
  color: transparent;
  font-family: "Avenir";
}

.text {
  font-variation-settings: "wght" 400, "wdth" 100;
  font-size: 10em;
  text-align: center;
  margin-bottom: 40px;
  position: absolute;
  animation: text-flow 6s infinite;
}

.text:nth-child(1) {
  animation-delay: 0.25s;
  opacity: 0.9;
  -webkit-text-stroke: 3px #ffb3c0;
  z-index: 0;
}

.text:nth-child(2) {
  animation-delay: 0.5s;
  opacity: 0.8;
  -webkit-text-stroke: 3px #ffa7b6;
  z-index: -1;
}

.text:nth-child(3) {
  animation-delay: 0.75s;
  opacity: 0.7;
  -webkit-text-stroke: 3px #ff9aab;
  z-index: -2;
}

.text:nth-child(4) {
  animation-delay: 1s;
  opacity: 0.6;
  -webkit-text-stroke: 3px #ff8da1;
  z-index: -3;
}

.text:nth-child(5) {
  animation-delay: 1.25s;
  opacity: 0.5;
  -webkit-text-stroke: 3px #ff8096;
  z-index: -4;
}

.text:nth-child(6) {
  animation-delay: 1.5s;
  opacity: 0.4;
  -webkit-text-stroke: 3px #ff748c;
  z-index: -5;
}

.text:nth-child(7) {
  animation-delay: 1.75s;
  opacity: 0.3;
  -webkit-text-stroke: 3px #ff6781;
  z-index: -6;
}

.text:nth-child(8) {
  animation-delay: 2s;
  opacity: 0.2;
  -webkit-text-stroke: 3px #ff5a77;
  z-index: -7;
}

.text:nth-child(9) {
  animation-delay: 2.25s;
  opacity: 0.1;
  -webkit-text-stroke: 3px #ff4d6c;
  z-index: -8;
}

@keyframes text-flow {
  25% {
    font-variation-settings: "wght" 900, "wdth" 100;
    filter: hue-rotate(0deg);
  }
  50% {
    transform: translateY(-100px);
    font-variation-settings: "wght" 400, "wdth" 100;
  }
  75% {
    transform: translateY(0%);
    font-variation-settings: "wght" 900, "wdth" 100;
    filter: hue-rotate(90deg);
  }
}



* {
  margin: 0;
  padding: 0;
}

body {
  background: #C2BEB2;
}

.center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.table {
  width: 790px;
  height: 150px;
  margin-top: 500px;
  background-color: #d4e5ff;
}
.table .monitor-wrapper {
  background: #050321;
  width: 770px;
  height: 130px;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.table .monitor-wrapper .monitor {
  width: 700px;
  height: 100px;
  background-color: #344151;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: inset 0px 5px 10px 2px rgba(0, 0, 0, 0.3);
}
.table .monitor-wrapper .monitor p {
  font-family: "VT323", monospace;
  font-size: 100px;
  position: relative;
  display: inline-block;
  animation: move 20s infinite linear;
  color: #EBB55F;
}

@keyframes move {
  from {
    left: 800px;
  }
  to {
    left: -4800px;
  }
}

/* CSS */
.button-49,
.button-49:after {
	margin-bottom: 500px;
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #ffb3c0 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'REDIRECTING TO NEXT PAGE';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #ffb3c0 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1.5s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}